/*  ---Variables---  */

$white: #ffffff;
$black: #170307;
$dark: #42415B;
$primary: #9CA2C6;
$secondary: #F1A153;
$hover: #a4aad0;
$gray: #F2F3FC;
$tinyMobile: 350px;
$smallMobile: 400px;
$mobile: 544px;
$ipad: 768px;
$smallScreen: 992px;
$largeScreen: 1200px;